<ion-header>
  <ion-toolbar>
    <ion-title>
      Scanbot Challenge
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Images From Server
      </ion-label>
    </ion-list-header>

    <ion-item>

      <ion-card>
        <ion-card-content>
          <ion-label>
            <h2>{{requestObject1}}</h2>
          </ion-label>
          <img src="assets/demo-image.jpeg" alt="">
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card>
        <ion-card-content>
          <ion-label>
            <h2>{{requestObject1}}</h2>
          </ion-label>
          <img src="assets/demo-image.jpeg" alt="">
        </ion-card-content>
      </ion-card>
    </ion-item>


  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-button (click)="getRequest()" size="small" style="float: left;">
        Reload
        <ion-icon slot="start" name="refresh-circle"></ion-icon>
    </ion-button>

    <ion-button size="small" style="float: right;">
        Upload
        <ion-icon slot="start" name="add-circle"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-footer>
